{% load static %}
<html>
    <head>
        <title>my profile</title>
        
        <link rel="stylesheet" href="{% static 'courses/styles.css' %}">
    </head>
    <body>
        <h1> My name is {{name}} </h1>
        <hr>
        <div>
            <h2>I'am {{age}} years old.</h2>
            <h3>I'm a {{gender}} </h3>
            <h4>currently I am pursuing {{qualification}}.</h4>
            <h4>My hobbies are {{hobbies}} </h4> 
        </div> <hr>
        <h3>this is what I know:</h3>
        <ul>
            {% for skill in language %}
                <li>{{skill}}</li>
            {% endfor %}
        </ul>      
    </body>
</html>