body{
    background-color: rgba(46, 241, 180, 0.781);
    
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;

}
h1:hover{
    transform: translateX(150px);
}