<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% block css_link %}
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    {% endblock css_link %}
</head>
<body>
    <header>
        {% comment %} <ul>
            <li><a href="/">home</a></li>
            <li><a href="/course/py">python</a></li>
            <li><a href="/course/dj">django</a></li>
            <li><a href="/course/web">WebDev</a></li>
        </ul> 
        ############ Better way to do this 👇########################
        {% endcomment %}
        <ul>
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'py' %}">python</a></li>
            <li><a href="{% url 'dj' %}">django</a></li>
            <li><a href="{% url 'web' %}">WebDev</a></li>
        </ul>

    </header>
    {% block content %}{% endblock content %}
</body>
</html>